# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
logs/*.log
logs/**/*.log
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build files
dist/
build/
coverage/

# Temporary files
tmp/
temp/
*.swp
*.swo
*.swn
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.iml

# System files
*.bak
*.orig
*.~undo-tree~
